.login-page {
    background-color: aqua;
    /* background-position: 100%; */
    padding-left: 150px;
    padding-right: 400px;
    padding-top: 190px;
    padding-bottom: 400px;
}

.form {
    background-color: white;
    text-align: center;
    color: black;
    border-radius: 10px;
    border-color: black;
    border-width: 10px;
    float: left;
    padding-left: 90px;
    border-style: groove;
    padding-right: 90px;
    padding-bottom: 60px;
    padding-top: 10px;
    margin-left: 300px;
    margin-right: 600px;
}

.last {
    background: rgba(0, 128, 0, 0.3);
    padding-top: 10px;
    padding-bottom: 10px;
}